    :root{
        --logo-color:#2D2F2F;
        --header-color:#8D4A00;
    --main-button:#FDD34D;
    --main-text:#5A5C5C;
    --button-color: #5C4900;
    --bcg-color:#FDD34D;
--line-color:#FE973C;
    }


.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
}










    .header-logo{
        display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--logo-color);
    font-family: "Space Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.2px;
    text-decoration: none;
    }


    .header-link{
        display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--header-color);
    font-family: "Space Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.35px;
    text-transform: uppercase;
    text-decoration: none;
    }


    .header-button{
        display: flex;
    padding: 12px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background: var(--header-color);
    justify-content: center;
    color: #FFF0E7;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;
    }



    .main-button{
        display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--button-color);
    font-family: "Be Vietnam Pro";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 6px 16px;
    align-items: flex-start;
    border-radius: 9999px;
    background: var(--bcg-color);
    border: none;
    margin-bottom: 38px;
    } 







.hero-text {
    font-family: "Space Grotesk";
    font-size: 120px;
    font-weight: 700;
    line-height: 117px;
    letter-spacing: -6.4px;
    margin-right: 104px;
}

.first-part {
    color: var(--logo-color);
}



.second-part {
    background: linear-gradient(90deg, #8D4A00 0%, #FE973C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main-text{
    display: flex;
flex-direction: column;
justify-content: center;
color: var(--main-text);
font-family: "Be Vietnam Pro";
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 32px;
margin-top: 32px;
margin-bottom: 32px;
}


.hero-button{
    display: flex;
flex-direction: column;
justify-content: center;
color: #FFF0E7;
text-align: center;
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 1.4px;
text-transform: uppercase;
display: flex;
padding: 20px 40px;
align-items: center;
gap: 12px;
border-radius: 9999px;
background: var(--header-color);
border: none;
height: 60px;
width: 270px;
}



.near-button{
    display: flex;
padding: 21px 40px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 9999px;
border: 1px solid rgba(172, 173, 173, 0.20);
background: #FFF;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--logo-color);
text-align: center;
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 1.4px;
text-transform: uppercase;
border: none;
display: inline-flex;
}



.buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}



.header-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: 279px;
}

.header-button{
    margin-left: auto;
    
}


.header .container {
    display: flex;
    align-items: center;
    margin-bottom: 169px;
}








.firstimg{
    position: relative;
    border-radius: 100px;
  width: 256.0px;
height: 256.0px;

    
}


.firstimg{
    position: absolute;
    right: 310px;
    top: 580px;
    
}


.secondimg{
    position: relative;
    border-radius: 100px;
width: 465.3px;
height: 581.7px;


}


.secondimg{
    position: absolute;
    top: 200px;
  right: 80px;
    bottom: 100px;
}


.second-part {
    letter-spacing: 6px;
}




.main-question{
    align-self: stretch;
color: var(--logo-color);
font-family: "Space Grotesk";
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: -3px;
margin-top: 394px;
margin-bottom: 39px;
}



.explaine{
  display: flex;
flex-direction: column;
justify-content: center;
color: var(--main-text);
font-family: "Be Vietnam Pro";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 32.5px;
  margin-bottom: 39px;
  
}


.special-part{
    display: flex;
flex-direction: column;
justify-content: center;
color: var(--logo-color);
font-family: "Be Vietnam Pro";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32.5px;
position: relative;
}



.special-part::after{
content: "";
background-color: yellow;
position: absolute;
width: 100px;
height: 10px;

width: 27%;
border-radius: 10px;
bottom: -1px;
}



.about-close{
    color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px;
margin-bottom: 39px;
}


.detales{
    display: flex;
flex-direction: column;
justify-content: center;
color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 1.4px;
text-transform: uppercase;

}


.girl-img{
  width: 552.0px;
height: 736.0px;

position: relative;
border-radius: 50px;

}


.girl-img{
position: absolute;
right: 80px;
top: 1100px;
}


.detales{
margin-bottom: 24px;
}



.button-wrap{
    position: relative;
}


.strilka{
    position: absolute;
    right: 25px;
}




.line{
    position: relative;
     display: inline-block;
    
}


.line::after{
    content: "";
position: absolute;

height: 10px;
width: 135px;


bottom: 70px;
background-color:  var(--line-color);
transform: rotate(-90deg);
left: -80px;
}







.detales {
    position: relative;
    padding-left: 50px;
    margin-bottom: 24px;
}

.detales::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 30px;
    height: 4px;
    background-color: var(--bcg-color);
    border-radius: 10px;
}



.header-link {
    position: relative;
    text-decoration: none;
}

.header-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;

    width: 0;
    height: 4px;
    background-color: var(--header-color);
    border-radius: 10px;

    transition: 0.3s;
}

.header-link:hover::after {
    width: 100%;
}






.about-grid{
    display: flex;
flex-direction: column;
justify-content: center;
color: var(--logo-color);
font-family: "Space Grotesk";
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: -3px;
margin-top: 256px;

}



.bcg{
    background: radial-gradient(85.61% 61.6% at 50% 50%, rgba(253, 211, 77, 0.15) 0%, rgba(253, 211, 77, 0.00) 70%);
}


.explaine-grid{
    display: flex;
flex-direction: column;
justify-content: center;
color: var(--main-text);
font-family: "Be Vietnam Pro";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-top: 16px;
}


.trends {
    display: flex;
  align-items: center;
  gap: 8px;

  color: #8D4A00;
  font-weight: 700;
  text-transform: uppercase;
margin-left: auto;
  border: none;
  background: transparent;
 margin-bottom: 64px;
}
.trends-icon {
  width: 16px;
  height: 16px;
  filter: brightness(0) saturate(100%) invert(20%) sepia(40%) saturate(1000%) hue-rotate(10deg);

}







.grid-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     transition: transform 0.4s ease;
    gap: 20px;
}



.grid-img {
  transition: transform 0.2s ease;
   width: 100%;
  display: block;
}






.grid-img {
    width: 80%;
    border-radius: 15px;
    display: block;

}















.grid-img:nth-child(3){
    position: relative;
width: 278.0px;
height: 388.0px;

}


.grid-img:nth-child(3){
    position: absolute;
left: 800px;
top: 2560px;
    
}




.grid-img:nth-child(4){
      position: relative;
}


.grid-img:nth-child(4){
    position: absolute;
    width: 278.0px;
height: 388.0px;
left: 1100px;
bottom: -2177px;
}



.grid-img:nth-child(1){
    width: 580.0px;
height: 800.0px;

}




.evolution{

color: var(--logo-color);
text-align: center;
font-family: "Space Grotesk";
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: -3px;
margin-top: 256px;
}



.evo-explane{
  
color: var(--main-text);
text-align: center;
font-family: "Be Vietnam Pro";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-top: 16px;
padding-bottom: 80px;
}







.tablo{
width: 100%;
    table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 12px; /* вертикальний gap між рядками */

}




.tablo {
  border-collapse: separate;
  border-spacing: 0 10px; /* щоб рядки не злипались */
}




.tablo-items{

color: #2D2F2F;
font-family: "Space Grotesk";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 2.4px;
text-transform: uppercase;
width: 256.7px;
height: 64.0px;
padding: 24px 32px;
border-radius: 1px;
border-radius: 25px 25px 0px 0px;
}




.bcg-tablo{
    background-color: #F6F6F6;
}





.simle-item{

color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;

  margin-right: 0;
}





.special-item{

color: #2D2F2F;
font-family: "Be Vietnam Pro";
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.5px;
text-transform: uppercase;
background-color: #E1E3E3;
border-radius: 10px;

padding: 2.5px 16px;
align-items: flex-start;
border-radius: 9999px;
background-color: #E1E3E3;
width: 57.2px;
height: 20.0px;

}








.special-item {
  display: inline-block;

width: 119.2px;
height: 25.0px;
padding: 4px 15px;

  background: #E1E3E3;
  border-radius: 9999px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  
}



.tablo-items,
.simle-item {
  text-align: left;
  padding-left: 20px;
}


.special-word{

color: #4E2600;
font-family: "Be Vietnam Pro";
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.5px;
text-transform: uppercase;

padding: 12px 16px;
align-items: flex-start;
border-radius: 9999px;
background-color: yellow;

}



.special-word {


  padding: 4px 12px;
  border-radius: 9999px;

background: #FE973C;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.tablo-part td {
  padding: 16px;
  background: white;
}

.tablo-part {
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}




.special-color{

color: #5A4700;
font-family: "Be Vietnam Pro";
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.5px;
text-transform: uppercase;

padding: 2.5px 16px;
align-items: flex-start;
border-radius: 9999px;
background: #FECF36;

}




.first-tablo{
    background-color: #E1E3E3;
    
}


.container-border{
   width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 10px solid var(--header-color);
border-radius: 20px;

}


.join{
    align-self: stretch;
color: var(--logo-color);
font-family: "Space Grotesk";
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: -3px;
margin-top: 40px;
padding-left: 80px;
padding-top: 110px;
padding-right: 600px;
margin-bottom: 24px;
}



.about-join{
    align-self: stretch;
color: var(--main-text);
font-family: "Be Vietnam Pro";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 29.25px;
padding-left: 80px;

padding-bottom: 24px;
}



.member-img{
    display: inline-flex;
   border: 5px solid #FE973C;
   border-radius: 9999px;
   padding: 5px;
}








.correct{
    padding-left: 80px;
}


.members-col{
    display: inline;
flex-direction: column;
justify-content: center;
color: #5A5C5C;
font-family: "Be Vietnam Pro";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;


}


.members {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 110px;
}












.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
position: relative;
    max-width: 500px;
    margin: 0 auto; 
    align-items: flex-start;
}

.form{
    position: absolute;
   right: 300px;
   top: 4000px;
}




input {
    width: 100%;
    max-width: 400px;

    padding: 16px 24px;
    border-radius: 50px;
    border: none;

    background: #f3f3f3;

    font-family: "Be Vietnam Pro";
}


button {
    align-self: flex-start;
    padding: 20px 100px;

    border-radius: 50px;
    border: none;

    background: rgba(0, 0, 0, 0.829);
    color: white;
}




.text-style{
    font-family: "Be Vietnam Pro";

}



.after-form{
    color: rgba(0, 0, 0, 0.541);
}




.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer-links {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer-links a {
  color: var(--main-text);
  font-family: "Be Vietnam Pro";
  font-size: 14px;
  margin-top: 200px;
padding-bottom: 100px;
  text-decoration: none;
}

.footer-logo {
  font-family: "Space Grotesk";
  font-size: 24px;
  font-weight: 700;
  color: var(--logo-color);
  text-decoration: none;
margin-top: 200px;
padding-bottom: 100px;
}

.footer-copy {
  font-size: 14px;
  color: var(--main-text);
margin-top: 200px;
padding-bottom: 100px;
}



.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease, visibility 0.35s ease;
}

.modal.active {
  display: flex;

}

.modal-content {
  width: 800px;
  height: 750px;
  background: white;

  transform: scale(0.8);
  transition: transform 0.35s ease;
}


.modal.active .modal-content {
    transform: scale(1);
}



.modal {
  opacity: 0;
  visibility: hidden;
  display: flex;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}


#closeModal {
  font-size: 12px;
  padding: 4px 8px;
  width: 24px;
  height: 24px;
  
}



.modal-content {
  position: relative;
}


#closeModal {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;

}




.modal-img{
    position: relative;
}


.modal-img{
    position: absolute;
    left: 250px;
    top: 100px;
}



.limited{
    display: flex;
flex-direction: column;
justify-content: center;
color: #4E2600;
text-align: center;
font-family: "Space Grotesk";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
background-color: #FDD34D;
width: 60.2px;
height: 24.0px;
border-radius: 10px;
position: relative;

}


.limited{
    position: absolute;
left: 430px;
top: 320px;
transform: rotate(-20deg);

}



.drop{
    display: flex;
flex-direction: column;
justify-content: center;
color: var(--logo-color);
text-align: center;
font-family: "Space Grotesk";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: -0.9px;
text-transform: uppercase;
margin-top: 350px;
}



.about-drop{
    display: flex;
flex-direction: column;
justify-content: center;
color: var(--main-text);
text-align: center;
font-family: "Be Vietnam Pro";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;

}


.modal-button{
    background: #F0F1F1;
    
}


.modal-procent {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px 16px;
    border-radius: 12px;
font-family: "Space Grotesk";
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;

    background: #F0F1F1;
    color: #8D4A00;

    width: fit-content;
    text-align: center;
}



.about-sale{
    width: 170.1px;
height: 16.0px;
display: flex;
flex-direction: column;
justify-content: center;
color: #5A5C5C;
text-align: center;
font-family: "Be Vietnam Pro";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px;
letter-spacing: 1.2px;
text-transform: uppercase;
margin-left: -70px;
}



.modal-div{
    display: flex;
    justify-content: center;
    align-items: center;
}



.goiteens{
    display: flex;
flex-direction: column;
justify-content: center;
color: var(--logo-color);
text-align: center;
font-family: "Space Grotesk";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px;
letter-spacing: 2px;
background:  #F0F1F1;
}



.goiteens-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
}




.copy-code{
    display: flex;
flex-direction: column;
justify-content: center;
color: #FFF0E7;
text-align: center;
font-family: "Space Grotesk";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px;
background: #8D4A00;
}




.copy-img{
    position: relative;
}


.copy-img{
    position: absolute;
    bottom: 47px;
    right: 455px;
  
}


.modal-content{
    border-radius: 40px;
}



.go-icon{
position: relative;
}


.go-icon{
position: absolute;
left: 270px;
}



.copy-div{
     display: flex;
    justify-content: center;
    align-items: center;
}




