    :root{
        --logo-color:#2D2F2F;
        --header-color:#8D4A00;
    --main-button:#FDD34D;
    --main-text:#5A5C5C;
    --button-color: #5C4900;
    --bcg-color:#FDD34D;
    }





    .container{
    width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px solid red;
    }










    .header-logo{
        display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--logo-color);
    font-family: "Space Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.2px;
    text-decoration: none;
    }


    .header-link{
        display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--header-color);
    font-family: "Space Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.35px;
    text-transform: uppercase;
    text-decoration: none;
    }


    .header-button{
        display: flex;
    padding: 12px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background: var(--header-color);
    justify-content: center;
    color: #FFF0E7;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: none;
    }



    .main-button{
        display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--button-color);
    font-family: "Be Vietnam Pro";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 6px 16px;
    align-items: flex-start;
    border-radius: 9999px;
    background: var(--bcg-color);
    border: none;
    margin-bottom: 38px;
    } 







.hero-text {
    font-family: "Space Grotesk";
    font-size: 120px;
    font-weight: 700;
    line-height: 117px;
    letter-spacing: -6.4px;
    margin-right: 104px;
}

.first-part {
    color: var(--logo-color);
}



.second-part {
    background: linear-gradient(90deg, #8D4A00 0%, #FE973C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main-text{
    display: flex;
flex-direction: column;
justify-content: center;
color: var(--main-text);
font-family: "Be Vietnam Pro";
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 32px;
margin-top: 32px;
margin-bottom: 32px;
}


.hero-button{
    display: flex;
flex-direction: column;
justify-content: center;
color: #FFF0E7;
text-align: center;
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 1.4px;
text-transform: uppercase;
display: flex;
padding: 20px 40px;
align-items: center;
gap: 12px;
border-radius: 9999px;
background: var(--header-color);
border: none;
}



.near-button{
    display: flex;
padding: 21px 40px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 9999px;
border: 1px solid rgba(172, 173, 173, 0.20);
background: #FFF;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--logo-color);
text-align: center;
font-family: "Space Grotesk";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 1.4px;
text-transform: uppercase;
border: none;
display: inline-flex;
}



.buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}



.header-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: 279px;
}

.header-button{
    margin-left: auto;
    
}


.header .container {
    display: flex;
    align-items: center;
    margin-bottom: 169px;
}








.firstimg{
    position: relative;
    border-radius: 100px;
  width: 256.0px;
height: 256.0px;

    
}


.firstimg{
    position: absolute;
    right: 310px;
    top: 580px;
    
}


.secondimg{
    position: relative;
    border-radius: 100px;
     width: 465.3px;
height: 581.7px;
}


.secondimg{
    position: absolute;
    top: 200px;
  right: 80px;
    bottom: 100px;
}


.second-part {
    letter-spacing: 6px;
}




.main-question{
    align-self: stretch;
color: var(--logo-color);
font-family: "Space Grotesk";
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: -3px;
margin-top: 394px;
}



.explaine{
  display: flex;
flex-direction: column;
justify-content: center;
color: var(--main-text);
font-family: "Be Vietnam Pro";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 32.5px;
  
}


.special-part{
    display: flex;
flex-direction: column;
justify-content: center;
color: var(--logo-color);
font-family: "Be Vietnam Pro";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32.5px;

}